[Desktop Entry]
Encoding=UTF-8
Name=Virtual Keyboard
Name[pl]=Wirtualne Klawisze
Comment=Virtual Keyboard
Comment[pl]=Wirtualne klawisze
Exec=/usr/bin/vkeybd
Icon=vkeybd.png
Terminal=false
Type=Application
Categories=Audio;Midi;
# vi: encoding=utf-8
